# ignore every pdf
**/*.pdf

# ignore every png
**/*.png

# ignore every jpg
**/*.jpg

# ignore every jpeg
**/*.jpeg

# ignore every txt
**/*.txt
!requirements.txt

# ignore every json
**/*.json
!redis_config.json
# ignore every csv
**/*.csv

# ignore .env
*.env

# ignore folders
__pycache__/
*.py[cod]